@import "https://pro.fontawesome.com/releases/v5.0.10/css/all.css";

.container {
  min-height: 150px;
}

.containerLarge {
  min-height: 250px;
}

.containerCenter {
  min-height: 150px;
  margin-left: 150px;
}