@import '~@personio/ui-theme/variables';

.container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.tableContainer {
  width: $table-width;
  text-align: $table-text-align;
  background-color: $table-bg;
  border-collapse: $table-border-collapse;
}

.tableFixedContainer {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30;
  border-right: $table-row-border-width solid $table-row-border-color;
}

.tableNotFixedContainer {
  overflow-x: scroll;
  margin-left: 190px;
  background: blue;
}