// Colors
//
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #555555 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #0DB5DF !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #DC7C7C !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #74C970 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$default:        #F5F5F5 !default;
$primary:         $blue !default;
$success:         $green !default;
$info:            $cyan !default;
$warning:         $yellow !default;
$warning-light:   $yellow !default;
$danger:          $red !default;
$light:           $white !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "default":        $default,
    "primary":        $primary,
    "success":        $success,
    "info":           $info,
    "warning":        $warning,
    "warning-light":  $warning-light,
    "danger":         $danger,
    "light":          $light
  ),
  $theme-colors
);

// Set a specific jump point for requesting color jumps
$variation-hover: 7.5% !default;
$variation-active: 10% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  170 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-700 !default;
$yiq-text-light:            $white !default;

//
// Font
$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            600 !default;
$font-weight-bolder:          bolder !default;

$font-weight:                 $font-weight-normal !default;
$line-height:                 20px !default;


// Base definitions
//
// Define common padding and border radius sizes and more.
$font-size-base:            14px !default;
$font-size-md:              16px !default;
$font-size-lg:              20px !default;

$font-family-base:          "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$font-weight-base:          $font-weight-normal !default;
$font-weight-sm:            $font-weight-light !default;
$font-weight-lg:            $font-weight-bold !default;

$line-height-base:          $line-height !default;
$line-height-sm:            $line-height !default;
$line-height-lg:            $line-height !default;

$border-width-base:           1px !default;
$border-width-sm:             1px !default;
$border-width-lg:             1px !default;

$border-color-base:         #EAEAEA !default;
$border-color-sm:           #EAEAEA !default;
$border-color-lg:           #EAEAEA !default;

$border-radius-base:          4px !default;
$border-radius-sm:            2px !default;
$border-radius-lg:            8px !default;

$disabled-opacity-base:       0.3 !default;
$disabled-opacity-sm:         0.3 !default;
$disabled-opacity-lg:         0.3 !default;

$box-shadow-base:             0 2px 7px 0 rgba(0,0,0,0.10) !default;
$box-shadow-sm:               0 2px 7px 0 rgba(0,0,0,0.10) !default;
$box-shadow-lg:               0 2px 7px 0 rgba(0,0,0,0.10) !default;

$transition-base:             all .3s ease !default;
$transition-fade:             opacity .15s ease !default;
$transition-collapse:         height .35s ease !default;


// Spacing
//
$spacer-0: 2px !default;
$spacer-1: 4px !default;
$spacer-2: 6px !default;
$spacer-3: 8px !default;
$spacer-4: 12px !default;
$spacer-5: 16px !default;
$spacer-6: 20px !default;
$spacer-7: 24px !default;
$spacer-8: 28px !default;
$spacer-9: 32px !default;
$spacer-10: 36px !default;
$spacer-11: 40px !default;

// Buttons
//
$button-font-family:              $font-family-base !default;
$button-font-size:                $font-size-base !default;
$button-font-weight:              $font-weight-bold !default;
$button-padding-y:                $spacer-3 !default;
$button-padding-x:                $spacer-4 !default;
$button-margin-y:                 0px !default;
$button-margin-x:                 0px !default;
$button-border-width:             0px !default;
$button-border-width:             0px !default;
$button-border-radius:            $border-radius-sm !default;
$button-cursor:                   pointer !default;
$button-outline:                  none !default;
$button-icon-margin:              0 0 0 4px !default;
$button-disabled-opacity:         0.3;
$button-focus-opacity:            0.75;

// Dropdowns
//
$dropdown-min-width:                150px !default;
$dropdown-padding-y:                $spacer-3 !default;
$dropdown-bg:                       $white !default;
$dropdown-border-width:             $border-width-base !default;
$dropdown-border-color:             $border-color-base !default;
$dropdown-border-radius:            $border-radius-base !default;
$dropdown-divider-bg:               $gray-200 !default;
$dropdown-box-shadow:               $box-shadow-base !default;
$dropdown-zindex:                   100 !default;

$dropdown-divider-margin-y:         $spacer-1 !default;
$dropdown-divider-border-color:     $border-color-base !default;
$dropdown-divider-border-width:     $border-width-base !default;

$dropdown-item-outline:             none !default;
$dropdown-item-cursor:              pointer !default;
$dropdown-item-padding-y:           $spacer-2 !default;
$dropdown-item-padding-x:           $spacer-4 !default;
$dropdown-item-bg:                  $white !default;
$dropdown-item-bg-hover:            #F6F6F6 !default;
$dropdown-item-text-color:          $gray-700 !default;
$dropdown-item-text-color-hover:    $gray-700 !default;
$dropdown-item-font-size:           14px !default;
$dropdown-item-disabled-opacity:    0.3 !default;

// Table
//
$table-width:                       100% !default;
$table-text-align:                  left !default;
$table-bg:                          transparent !default;
$table-border-collapse:             collapse !default;
$table-font-family:                 $font-family-base !default;

$table-row-border-width:            $border-width-base !default;
$table-row-border-color:            $border-color-base !default;

$table-row-font-size-sm:            12px !default;
$table-row-padding-y-sm:            $spacer-2 !default;
$table-row-padding-x-sm:            $spacer-7 !default;

$table-row-font-size:               $font-size-base !default;
$table-row-padding-y:               $spacer-3 !default;
$table-row-padding-x:               $spacer-7 !default;

$table-row-font-size-lg:            16px !default;
$table-row-padding-y-lg:            $spacer-5 !default;
$table-row-padding-x-lg:            $spacer-7 !default;

$table-cell-font-weight:             $font-weight-bold !default;
$table-cell-disabled:                $disabled-opacity-base !default;

$table-th-color:                    $gray-700 !default;

$table-td-color:                    $gray-700 !default;

// Functions
// Bootstrap functions
//
// Utility mixins and functions for evaluating source code across our variables, maps, and mixins.

// Color contrast
@function color-yiq($color, $dark: $yiq-text-dark, $light: $yiq-text-light) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= $yiq-contrasted-threshold) {
    @return $dark;
  } @else {
    @return $light;
  }
}

// Retrieve color Sass maps
@function color($key: "blue") {
  @return map-get($colors, $key);
}

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

@function gray($key: "100") {
  @return map-get($grays, $key);
}