@import '~@personio/ui-theme/variables';

.button {
  display: inline-block;
  text-decoration: none;

  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;

  margin: $button-margin-y $button-margin-x;
  padding: $button-padding-y $button-padding-x;

  border-width: $button-border-width;
  border-style: solid;
  border-radius: $button-border-radius;

  transition: $transition-base;

  cursor: $button-cursor;
  outline: $button-outline;

  .buttonInner {
    display: flex;
    flex-direction: row;
    align-items: center;

    i + div {
      margin: $button-icon-margin;
    }
  }
}

.iconOnly {
  i {
    margin: 0;
  }
}

.block {
  display: block;
  width: 100%;
}

@mixin button-variant(
  $background-color,
  $background-color-hover: darken($background-color, 7.5%),
  $background-color-active: darken($background-color, 10%),
  $text-color: color-yiq($background-color),
  $disabled-opacity: $button-disabled-opacity,
  $focus-opacity: $button-focus-opacity,
) {
  background-color: $background-color;
  color: $text-color;

  &:hover {
    background-color: $background-color-hover;
    color: $text-color;
    text-decoration: none;
  }

  &:active, &.active {
    background-color: $background-color-active;
  }

  &:focus, &.focus {
    color: $text-color;
    box-shadow: 0 0 0 0.2rem rgba($background-color-active, $focus-opacity);
  }

  &:disabled, &.disabled {
    user-select: none;
    pointer-events: none;
    opacity: $disabled-opacity;
    cursor: initial;
  }
}

@each $color, $background-color in $theme-colors {
  .#{$color} {
    @include button-variant($background-color);
  }
}

.link {
  @include button-variant(
    $background-color: transparent,
    $background-color-hover: #F4F7F9,
    $background-color-active: #dbdee0,
    $text-color: $primary,
  )
}
