@import '~@personio/ui-theme/variables';

.dropdownListContainer {
  position: absolute;
  z-index: $dropdown-zindex;
  will-change: transform;

  background: $dropdown-bg;
  padding: $dropdown-padding-y 0;
  min-width: $dropdown-min-width;
  border: $dropdown-border-width solid $dropdown-border-color;
  border-radius: $dropdown-border-radius;
  box-shadow: $dropdown-box-shadow;

  transition: all 240ms cubic-bezier(0.0, 0.0, 0.2, 1);
  animation: open-animation 240ms cubic-bezier(0.175, 0.885, 0.320, 1.175) both;

  &.upLeft {
    top: $spacer-3;
    left: 0px;
  }

  &.upRight {
    top: $spacer-3;
    left: 0px;
  }

  &.bottomLeft {
    top: $spacer-3;
    left: 0px;
  }

  &.bottomRight {
    top: $spacer-3;
    right: 0px;
  }
}

@keyframes open-animation {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    transform: translateY(32px);
  }
}