@import '~@personio/ui-theme/variables.scss';

@mixin dropdown-item-variant(
  $background-color,
  $text-color: color-yiq($background-color),
) {
  background-color: $background-color;
  color: $text-color;

  a {
    color: $text-color;
  }

  &:hover {
    background-color: darken($background-color, $variation-hover);
  }
}

.dropdownItemContainer {
  display: block;
  background-color: $dropdown-item-bg;
  color: $dropdown-item-text-color;
  text-decoration: none;
  font-size: $dropdown-item-font-size;

  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  cursor: $dropdown-item-cursor;
  outline: $dropdown-item-outline;
  white-space: nowrap;

  &.disabled {
    user-select: none;
    pointer-events: none;
    opacity: $dropdown-item-disabled-opacity;
    cursor: initial;
  }

  &.active {
    @each $color, $value in $theme-colors {
      &.#{$color} {
        @include dropdown-item-variant($value);
      }
    }
  }

  &:hover, &.hover {
    color: $dropdown-item-text-color;
    text-decoration: none;
    background: $dropdown-item-bg-hover
  }
}
