@import '~@personio/ui-theme/variables';
@import '~@personio/ui-theme/mixins/make-disabled';

.tdContainer {
  color: $table-td-color;
}

.thContainer {
  color: $table-th-color;
}

.tdContainer, .thContainer {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.disabled {
  @include make-disabled(
    $opacity: $table-cell-disabled
  );
}

.bold {
  font-weight: $table-cell-font-weight;
}

.emptyContainer {
  > i:first-child {
    margin-right: $spacer-0;
  }
}

@mixin table-cell-variant($text-color) {
  color: $text-color;
}

@each $color, $value in $theme-colors {
  .#{$color} {
    @include table-cell-variant($value);
  }
}