@import '~@personio/ui-theme/variables';
@import '~@personio/ui-theme/mixins/make-disabled';

.tableRowContainer {
  border-bottom: $table-row-border-width solid $table-row-border-color;
  font-size: $table-row-font-size;
}

.fixed th {
  position: sticky;
  top: 0;
  z-index: 100;
}

.small td, .small th {
  font-size: $table-row-font-size-sm;
  padding: $table-row-padding-y-sm $table-row-padding-x-sm;
}

.medium td, .medium th {
  font-size: $table-row-font-size;
  padding: $table-row-padding-y $table-row-padding-x;
}

.large td, .large th {
  padding: $table-row-padding-y-lg $table-row-padding-x-lg;
}

@mixin table-row-variant(
  $background-color
) {
  th, td {
    background: $background-color;
  }

  &:not(.insideHeader):hover {
    td, th {
      background: darken($background-color, 2.5%);
    }
  }
}

@each $color, $value in $theme-colors {
  .#{$color} {
    @include table-row-variant($value);
  }
}

.disabled {
  @include make-disabled(
    $opacity: $table-cell-disabled
  );
}

.noBorder {
  border-bottom: none;
}