@import '~@personio/ui-theme/variables.scss';

.dropdownDividerContainer {
  height: 0;
  margin: $dropdown-divider-margin-y 0;
  overflow: hidden;
  border-top: $dropdown-divider-border-width solid $dropdown-divider-border-color;
}
